<div class="cod-md-6 col-md-offset-3">
	<div class="edit-review-form">
		<h1>Edit Note</h1>
			<%= simple_form_for([@post, @review]) do |f| %>
				<div id="rating-form">
					<label>Rating</label>
				</div>
					<%= f.input :comment %>
	<%= f.button :submit, 'Update Note', :class => 'btn-custom2' %>
			<% end %>

		<script>
			$('#rating-form').raty({
				path: '/assets/',
				scoreName: 'review[rating]'
			});
		</script>
	</div>
</div>